
.btn-confirm-delete{
    width: 150px;
    height: 60px;
    margin-top: 1px;
    background: transparent;
    font-size: 18px;
    color: #49557e;
    border: 1px solid orangered;
    /* padding: 10px 30px; */
    border-radius: 20px;
    cursor: pointer; 
    transition: 0.3s;
}
.btn-confirm-delete:hover{
    background-color: #fa7962;
}
.btn-cancel{
    width: 150px;
    height: 60px;
    margin-top: 1px;
    margin-left: 200px;
    background: transparent;
    font-size: 18px;
    color: #49557e;
    border: 1px solid rgb(110, 110, 224);
    /* padding: 10px 30px; */
    border-radius: 20px;
    cursor: pointer; 
    transition: 0.3s;
}
.btn-cancel:hover{
    background-color: #6a9af3;
}